// app global css in SCSS form

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #050505; 
}

::-webkit-scrollbar-thumb {
  background: #333; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ccff00; /* $primary color hex */
}

body {
    background-color: #000;
    color: #fff;
    overflow-x: hidden;
}



